<launch>
  <!-- Set ROS_MASTER_URI in env when starting -->

  <include file="$(find rover_bringup)/launch/description.launch"/>

  <!-- rosserial for drive & arm -->
  <node pkg="rosserial_python" type="serial_node.py" name="drive_serial">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="arm_serial">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="115200"/>
  </node>

  <!-- Kinect, GPS, odom, ackermann node, etc. -->
  <include file="$(find rover_vision)/launch/kinect.launch"/>
  <include file="$(find rover_navigation)/launch/ekf.launch"/>
  <include file="$(find rover_navigation)/launch/move_base.launch"/>

  <node pkg="rover_control" type="ackermann_drive_node.py" name="ackermann_drive" output="screen"/>
  <!-- Odometry node here if running on CM4 -->
</launch>
